.form__container {
  width: 100%;
  max-width: 320;

  @media (min-width: @tablet-width) {
    max-width: 620px;
  }

  @media (min-width: @desktop-width) {
    max-width: 940px;
  }
}

.form__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @darkgrey;
  text-align: center;
}

.form__button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  background-color: @green;
  color: @white;
  border: 2px solid @green;
  border-radius: 1px;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 100%;
  text-align: center;

  @media (min-width: @tablet-width) {
    order: 6;
  }
}

.form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @darkgrey;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 15px;
  padding-left: 22px;
  border: 2px solid @gray90;
  border-radius: 1px;
}

.form__label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.form__label--username {
  color: @pink;
  text-transform: uppercase;
  width: 100%;
}

.form__label--contacts {
  color: @pink;
  text-transform: uppercase;
  width: 100%;
}

.form__legend {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
}

.form__fieldset {
  border: none;
}

.form__fieldset--username {
  max-width: 100%;

  @media (min-width: @tablet-width) {
    order: 1;
  }

  @media (min-width: @desktop-width) {
    max-width: 50%;
  }
}

.form__fieldset--contacts {
  width: 100%;
  max-width: 100%;

  @media (min-width: @tablet-width) {
    order: 3;
  }
}

.form__fieldset--progress {
  background-color: @lightgrey;
  max-width: 100%;

  @media (min-width: @tablet-width) {
    order: 4;
  }
}

.form__fieldset--mobile {
  background-color: @lightgrey;
  max-width: 100%;

  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    max-width: 50%;
  }
}

.form__fieldset--comment {
  max-width: 100%;
  width: 100%;

  @media (min-width: @tablet-width) {
    order: 5;
  }
}
