.form__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @darkgrey;
}

.form__button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  background-color: @green;
  color: @white;
  border: 2px solid @green;
  border-radius: 1px;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 100%;
  text-align: center;
}

.form__input {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: @darkgrey;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 15px;
  padding-left: 22px;
  border: 2px solid @gray90;
  border-radius: 1px;
}

.form__label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
}

.form__label--username {
  color: @pink;
  text-transform: uppercase;
}

.form__label--contacts {
  color: @pink;
  text-transform: uppercase;
}

.form__legend {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @pink;
  text-transform: uppercase;
}

.form__fieldset {
  border: none;
}

.form__fieldset--progress {
  background-color: @lightgrey;
}

.form__fieldset--mobile {
  background-color: @lightgrey;
}
