.information__list {
  background-color: @lightgrey;
}

.information__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

.information__text {
  color: @darkgrey;
}

.information__list::after {
  display: block;
  content: "";
  width: 100%;
  height: 320px;
  background: url("../img/information-screen-mobile.png") 50% 0 no-repeat;
}
