.page-header {
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 2;

  @media (min-width: @tablet-width) {
    height: auto;
  }

  @media (min-width: @desktop-width) {
    background-color: fade(@black, 30%);
  }
}

.page-header__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}

.page-header__logo {
  display: block;
}

.page-header__logo img {
  width: 74px;
  height: 23px;

  @media (min-width: @tablet-width) {
    width: 140px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    width: 147px;
    height: 40px;
  }
}

.page-header__logo--desktop {
  display: none;

  @media (min-width: @desktop-width) {
    fill: @white;
    height: auto;
    width: auto;
    display: block;
    padding-top: 27px;
    padding-bottom: 40px;
    padding-left: 0;
  }

  &:hover {
    fill: @pink;
  }

  &:active {
    fill: @white;
    fill-opacity: 0.3;
  }
}

.page-header__logo--tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    fill: @white;
    height: auto;
    width: auto;
    padding-top: 27px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  &:hover {
    fill: @pink;
  }

  &:active {
    fill: @white;
    fill-opacity: 0.3;
  }
}

.page-header__logo--mobile {
  fill: @white;
  height: auto;
  width: auto;
  display: block;
  padding: 20px 20px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &:hover {
    fill: @pink;
  }

  &:active {
    fill: @white;
    fill-opacity: 0.3;
  }
}
