.page-main__container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    max-width: 660px;
  }

  @media (min-width: @desktop-width) {
    max-width: 980px;
  }
}

.page-main__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @darkgrey;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
    margin-top: 80px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    margin-top: 75px;
  }
}

.page-main__title--white {
  color: @white;
}

.page-main__block {
  background: @sapphire url("../img/back-mobile.png") no-repeat center top;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 240px;
  margin-bottom: 55px;

  @media (min-width: @tablet-width) {
    background: @sapphire url("../img/back-tablet.png") no-repeat center top;
    background-size: cover;
    min-height: 440px;
    padding-bottom: 0;
    margin-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    background: @sapphire url("../img/back-desktop.png") no-repeat center top;
    background-size: cover;
    min-height: 780px;
    padding-bottom: 0;
  }
}
