.page-main__container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    max-width: 660px;
  }

  @media (min-width: @desktop-width) {
    max-width: 980px;
  }
}

.page-main__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @darkgrey;
  text-align: center;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.page-main__title--information {
  padding-bottom: 70px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 54px;
    padding-top: 25px;
    padding-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 67px;
    padding-bottom: 150px;
  }
}

.page-main__title--contacts {
  padding-bottom: 31px;

  @media (min-width: @tablet-width) {
    padding-bottom: 50px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding-bottom: 40px;
    padding-top: 35px;
  }
}

.page-main__title--white {
  color: @white;
  margin-top: 6px;

  @media (min-width: @tablet-width) {
    margin-top: 90px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 80px;
  }
}

.page-main__title--form {
  color: @white;
  margin-top: 8px;

  @media (min-width: @tablet-width) {
    margin-top: 90px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 80px;
  }
}

.page-main__subtitle {
  margin-top: 20px;
  display: block;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.page-main__block {
  background: @sapphire url("../img/back-mobile.png") no-repeat center top;
  background-size: cover;
  padding-top: 87px;
  min-height: 238px;
  margin-bottom: 43px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.png");
    background-size: 640px center;
  }

  @media (min-width: @tablet-width) {
    background: @sapphire url("../img/back-tablet.png") no-repeat center top;
    background-size: cover;
    min-height: 440px;
    padding-bottom: 0;
    margin-bottom: 91px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.png");
      background-size: 1320px center;
    }
  }

  @media (min-width: @desktop-width) {
    background: @sapphire url("../img/back-desktop.png") no-repeat center top;
    background-size: cover;
    min-height: 395px;
    padding-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.png");
      background-size: 2400px center;
    }
  }
}

.page-main__block--catalog {
  @media (min-width: @desktop-width) {
    min-height: 394px;
  }
}
