.page-header {
  background-color: fade(@black, 30%);
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 2;

  @media (min-width: @tablet-width) {
    height: auto;
  }
}

.page-header__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}

.page-header__logo {
  display: block;
  padding: 23px 20px;

  @media (min-width: @tablet-width) {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}
