.photo {
  @media (min-width: @tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.photo__container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    max-width: 660px;
  }

  @media (min-width: @desktop-width) {
    max-width: 980px;
  }
}

.photo__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    margin-right: -10px;
    margin-left: -10px;
  }
}

.photo__item {
  position: relative;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 50%;
    flex-basis: 50%;
    margin-bottom: 20px;
    min-height: 455px;
  }

  @media (min-width: @desktop-width) {
    max-width: 33.3%;
    flex-basis: 33.3%;
    margin-bottom: 54px;
    min-height: 555px;
  }
}

.photo__item--panorama {
  width: 100%;
  max-width: 100%;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 54px;
  }
}

.photo__image--panorama {
  width: 100%;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

.photo__item--panorama::before {
  content: "Панорама дня";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  max-width: 140px;
  height: auto;
  padding: 6px 0;
  background-color: @pink;
  color: @white;
  display: block;
  position: absolute;
  top: 0;
  right: 20px;
  left: auto;
  bottom: auto;
  z-index: 2;

  @media (min-width: @tablet-width) {
    top: 58px;
  }

  @media (min-width: @desktop-width) {
    right: 11%;
    top: 54px;
  }
}

.photo__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @darkgrey;
  text-align: center;
  margin: 0;
  padding: 0 15px;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    padding-right: 90px;
    padding-left: 90px;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 76px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 150px;
    padding-left: 150px;
    margin: 0 0 89px;
  }
}
