.photo__image--panorama::before {
  content: "Панорама дня";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: @pink;
  color: @white;
  display: block;
}

.photo__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @darkgrey;
}
