.pop-up {
  .button {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    background-color: @green;
    color: @white;
    border: 2px solid @green;
    border-radius: 1px;
    text-transform: uppercase;
    padding-bottom: 23px;
    padding-top: 23px;
    width: 100%;
    text-align: center;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: @darkgrey;
  }
}
