.price__headline {
  color: @white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.price__section--hit::before {
  content: "Хит";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: @pink;
  color: @white;
  display: block;
}

.price__section {
  color: @white;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.price__header {
  background: @darkgrey;
}

.price__body {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: @darkgrey;
}

.price__item--checked {
  display: block;
  content: "";
  width: 31px;
  height: 21px;
  background: url("../img/yes.svg") 0 0 no-repeat;
}

.price__item--unchecked {
  display: block;
  content: "";
  width: 27px;
  height: 27px;
  background: url("../img/no.svg") 0 0 no-repeat;
}
