.promo {
  background: @sapphire url("../img/back-mobile.png") no-repeat center top;

  .button {
    font-size: 18px;
    line-height: 18px;
    color: @white;
    border: 3px solid @white;
    box-sizing: border-box;
    border-radius: 29px;
    padding: 21px 40px;
  }

  .title {
    color: @white;
  }
}

.promo__container--screen {
  background: transparent url("../img/screen-mobile.png") no-repeat center top;
}

.promo-text {
  color: @white;
}
