.promo {
  background: @sapphire url("../img/back-mobile.png") no-repeat center top;
  min-height: 460px;

  @media (min-width: @tablet-width) {
    min-height: 730px;
  }

  @media (min-width: @desktop-width) {
    min-height: 850px;
  }
}

.promo__button {
  font-size: 18px;
  line-height: 18px;
  color: @white;
  border: 3px solid @white;
  box-sizing: border-box;
  border-radius: 29px;
  padding: 21px 40px;
}

.promo__title {
  color: @white;
}

.promo__container--screen {
  background: transparent url("../img/screen-mobile.png") no-repeat center top;
}

.promo__text {
  color: @white;
}
