.social__list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 40px 0;
}

.social__item {
  display: block;
  width: 48px;
  height: 48px;
  border: 3px solid fade(@darkgrey, 10%);
  border-radius: 50%;
  font-size: 0;
  position: relative;
  margin-left: 15px;
}

.social__item:first-child {
  margin-left: 0;
}

.social__link--twitter {
  content: "";
  width: 18px;
  height: 14px;
  background: transparent url("../img/twitter.svg") 0 0 no-repeat;
  position: absolute;
  top: 15px;
  left: 13px;
}

.social__link--facebook {
  display: block;
  content: "";
  width: 9px;
  height: 18px;
  background: url("../img/facebook.svg") 0 0 no-repeat;
  position: absolute;
  top: 13px;
  left: 16px;
}

.social__link--youtube {
  display: block;
  content: "";
  width: 15px;
  height: 13px;
  background: url("../img/youtube.svg") 0 0 no-repeat;
  position: absolute;
  top: 16px;
  left: 15px;
}
