.time {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 55px;
    margin-bottom: 97px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
    padding-bottom: 65px;
    background-color: @lightgrey;
    margin-bottom: 0;
    position: relative;
    top: -50px;
  }
}

.time__container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media (min-width: @tablet-width) {
    max-width: 660px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    max-width: 980px;
  }
}

.time__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.time__image {
  @media (min-width: @tablet-width) {
    width: 50%;
    max-height: 276px;
    padding-right: 75px;
  }

  @media (min-width: @desktop-width) {
    max-height: 345px;
    width: 33.3%;
    margin-right: 70px;
    padding-right: 0;
  }
}

.time__block {
  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 66.6%;
  }
}

.time__title {
  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 36px;
    font-style: normal;
    font-weight: bold;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    line-height: 30px;

    br {
      display: none;
    }
  }
}

.time__link {
  @media (min-width: @tablet-width) {
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    color: @pink;
    text-decoration: underline;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.time__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 12px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
