.upload {
  background-color: @lightgrey;
}

.upload__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @darkgrey;
}

.upload__button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 100%;
  background-color: transparent;
  border: 3px solid @pink;
  box-sizing: border-box;
  border-radius: 30px;
  color: @pink;
}

.upload__button--cancel {
  border: 3px solid @pink;
  color: @darkgrey;
  opacity: 0.1;
}
